page-login {
  .fixed-content {
    background: #000040;

    .imagem {
      img {
        max-width: 80%;
      }
    }


  }

  .formulario {

    ion-item {
      margin: 15px 0;
      padding-left: 0 !important;
      border-radius: 5px;
      
      .item-inner {
          padding: 0 8px;
      }
    }
    button {
        border-radius: 3px !important; 
    }
  }
}
