<ion-content padding>
  <div text-center class='imagem'>
    <img src="assets/imgs/home_background_white.png">
  </div>

  <form #form="ngForm" class="formulario" novalidate>
    <ion-item-group>
      <ion-item>
        <ion-label color="primary">*CPF</ion-label>
        <ion-input [(ngModel)]="usuario.email" name="email" type="number" [limit-to]='11' #email="ngModel" placeholder="Apenas numeros" clearInput required></ion-input>
      </ion-item>
      <!-- <ion-item *ngIf="email.errors && (email.dirty || email.touched)">
        <ion-label color="danger">*O Campo é obrigatorio</ion-label>
      </ion-item> -->

      <ion-item>
        <ion-label color="primary">*Senha</ion-label>
        <ion-input [(ngModel)]="usuario.senha" name="senha" type="password" #senha="ngModel" title='Permissions "Disk"' clearInput
          required></ion-input>
      </ion-item>
      <!-- <ion-item *ngIf="senha.errors && (senha.dirty || senha.touched)">
        <ion-label color="danger">*O Campo é obrigatorio</ion-label>
      </ion-item> -->
    </ion-item-group>

    <button ion-button block (click)="efetuaLogin()" color="light" [disabled]="!form.form.valid">INICIAR SESSÃO</button>

  </form>
</ion-content>