page-tipos-exames {
  .back-button {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }

  ion-card {
    background: #000000;
  }

  .scroll-content {
    .card {
      padding: 15px;
      text-align: center;
      border-radius: 7px;
      margin: 25px 0 10px 10px;
      box-shadow: 8px 7px 8px -3px #888888;
      background: #2B67BD;

      .content {
        position: relative;
        .card-header {
          display: inline-block;
          vertical-align: middle;
          padding: 0 !important;
          color: #ffffff;

          
        }
        &:before {
          content: '';
          position: absolute;
          left: 0;
          display: inline-block;
          vertical-align: middle;
          width: 15px;
          height: 15px;
          background: url('../../assets/imgs/lista-exames/ico-item.svg') center no-repeat;
          background-size: 100%;
        }
      }
    }
  }
}
