page-tipos-examestemp {
    .back-button {
        display: none !important;
        visibility: hidden !important;
        opacity: 0 !important;
      }
    
      ion-card {
        background: #000000;
      }
}
